<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>{{ page.title }} @ BernatArlandis.com</title>
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/syntax.css">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
<div id="header">
  <div class="wrapper">
    <nav class="clearfix">
      <ul>
        <li class="title"><div class="site-name">Bernat Arlandis</div><div class="site-tagline">Computer Engineer &amp; Web Developer</div></li>
        <li class="github"><a href="https://github.com/berarma">View On GitHub</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="wrapper">
  <nav id="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/work">Works</a></li>
    </ul>
  </nav>
  <section>
    <div id="title">
      <h1>{{ page.title }}</h1>
      {% if page.date %}
      <div class="meta">Last updated: {{ page.date | date_to_string }}</div>
      {% endif %}
    </div>
    <div id="content">
    {{ content }}
    </div>
  </section>
</div>
</body>
</html>
